<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="img-thumbnail" style="padding: 9px;">
                <img style="width:100%;" class="img-fluid" src="<%= hotel.image %>">
                <h1 class="caption-full"><%= hotel.name %> 
                    <form action="/hotels/<%= hotel._id %>/cart" method="POST">
                        <button class="btn btn-success" style= "margin-top: 10px;">ADD TO CART</button>                 
                    </form>
                </h1>
                <p style="text-align: justify;"><%= hotel.description %></p>
                <p>
                    <em>
                        Submitted by <%= hotel.author.username %>
                    </em>
                </p>
            </div>
            <hr>
            <div class="card" style="background-color: rgba(0,0,0,0.04); padding: 9px;">
                <div class="text-right">
                    <a style="margin: 5px 3px;" class = "btn btn-success" href="/hotels/<%= hotel._id %>/comments/new">Add new comment</a>
                    <hr>
                </div>
                <% hotel.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <p style="margin: 2px;">
                                <%= comment.text %>
                            </p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-sm btn-warning" style="color: white;"  
                                href="/hotels/<%= hotel._id %>/comments/<%= comment._id %>/edit">
                                Edit
                                </a>
                                <form action="/hotels/<%= hotel._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                                    <button class="btn btn-sm btn-danger" style="color: white;">Delete</button>
                                </form>
                            <% } %>                               
                        </div>
                    </div>
                <% }); %>
                </div>
        </div>
        <div class="col-md-3">
            <p class="lead"><strong>Places explored</strong></p>
            <div class="list-group">
                    <% hotel.spots.forEach(function(spot){ %>
                        <p class="list-group-item">
                            <a href="/spots/<%= spot._id %>"><%= spot.name %></a>
                        </p>
                    <% }); %>
            </div>
        </div>
    </div>        
</div>

<% include ../partials/footer %>